@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply min-h-screen
}

body {
  color: rgba(var(--foreground-rgb), .6);
  background-color: rgb(var(--background-rgb));
  @apply flex flex-col justify-between
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(var(--foreground-rgb), 1);
}